In [10]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, StandardScaler

from sklearn.linear_model import LogisticRegression

In [11]:
data = pd.read_csv('MFG10YearTerminationData.csv')

In [12]:
data

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49648,8258,12/1/2015 0:00,5/28/1994,8/19/2013,12/30/2015,21,2,Valemount,Dairy,Dairy Person,34,M,Male,Layoff,Involuntary,2015,TERMINATED,STORES
49649,8264,8/1/2013 0:00,6/13/1994,8/27/2013,8/30/2013,19,0,Vancouver,Customer Service,Cashier,44,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49650,8279,12/1/2015 0:00,7/18/1994,9/15/2013,12/30/2015,21,2,White Rock,Customer Service,Cashier,39,F,Female,Layoff,Involuntary,2015,TERMINATED,STORES
49651,8296,12/1/2013 0:00,9/2/1994,10/9/2013,12/31/2013,19,0,Kelowna,Customer Service,Cashier,16,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49652,8321,12/1/2014 0:00,11/28/1994,11/24/2013,12/30/2014,20,1,Grand Forks,Customer Service,Cashier,13,F,Female,Layoff,Involuntary,2014,TERMINATED,STORES

In [13]:
data.info

<bound method DataFrame.info of        EmployeeID   recorddate_key birthdate_key orighiredate_key  \
0            1318  12/31/2006 0:00      1/3/1954        8/28/1989
1            1318  12/31/2007 0:00      1/3/1954        8/28/1989
2            1318  12/31/2008 0:00      1/3/1954        8/28/1989
3            1318  12/31/2009 0:00      1/3/1954        8/28/1989
4            1318  12/31/2010 0:00      1/3/1954        8/28/1989
...           ...              ...           ...              ...
49648        8258   12/1/2015 0:00     5/28/1994        8/19/2013
49649        8264    8/1/2013 0:00     6/13/1994        8/27/2013
49650        8279   12/1/2015 0:00     7/18/1994        9/15/2013
49651        8296   12/1/2013 0:00      9/2/1994        10/9/2013
49652        8321   12/1/2014 0:00    11/28/1994       11/24/2013

      terminationdate_key  age  length_of_service    city_name  \
0                1/1/1900   52                 17    Vancouver
1                1/1/1900   53                 18    Vancouver
2                1/1/1900   54                 19    Vancouver
3                1/1/1900   55                 20    Vancouver
4                1/1/1900   56                 21    Vancouver
...                   ...  ...                ...          ...
49648          12/30/2015   21                  2    Valemount
49649           8/30/2013   19                  0    Vancouver
49650          12/30/2015   21                  2   White Rock
49651          12/31/2013   19                  0      Kelowna
49652          12/30/2014   20                  1  Grand Forks

        department_name     job_title  store_name gender_short gender_full  \
0             Executive           CEO          35            M        Male
1             Executive           CEO          35            M        Male
2             Executive           CEO          35            M        Male
3             Executive           CEO          35            M        Male
4             Executive           CEO          35            M        Male
...                 ...           ...         ...          ...         ...
49648             Dairy  Dairy Person          34            M        Male
49649  Customer Service       Cashier          44            F      Female
49650  Customer Service       Cashier          39            F      Female
49651  Customer Service       Cashier          16            F      Female
49652  Customer Service       Cashier          13            F      Female

      termreason_desc   termtype_desc  STATUS_YEAR      STATUS BUSINESS_UNIT
0      Not Applicable  Not Applicable         2006      ACTIVE    HEADOFFICE
1      Not Applicable  Not Applicable         2007      ACTIVE    HEADOFFICE
2      Not Applicable  Not Applicable         2008      ACTIVE    HEADOFFICE
3      Not Applicable  Not Applicable         2009      ACTIVE    HEADOFFICE
4      Not Applicable  Not Applicable         2010      ACTIVE    HEADOFFICE
...               ...             ...          ...         ...           ...
49648          Layoff     Involuntary         2015  TERMINATED        STORES
49649      Resignaton       Voluntary         2013  TERMINATED        STORES
49650          Layoff     Involuntary         2015  TERMINATED        STORES
49651      Resignaton       Voluntary         2013  TERMINATED        STORES
49652          Layoff     Involuntary         2014  TERMINATED        STORES

[49653 rows x 18 columns]>

In [14]:
def preprocess_inputs(df):
    df = df.copy()
    
    # Drop unnecessary columns
    df = df.drop(['EmployeeID', 'gender_short'], axis=1)
    
    # Drop all columns not available before termination
    df = df.drop(['terminationdate_key', 'length_of_service', 'termreason_desc', 'termtype_desc'], axis=1)
    
    # Split df into X and y
    y = df['STATUS']
    X = df.drop('STATUS', axis=1)
    
    # Train-test split
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, shuffle=True, random_state=1)
    
    return X_train, X_test, y_train, y_test

In [15]:
X_train, X_test, y_train, y_test = preprocess_inputs(data)

In [16]:
X_train

,recorddate_key,birthdate_key,orighiredate_key,age,city_name,department_name,job_title,store_name,gender_full,STATUS_YEAR,BUSINESS_UNIT
35337,12/31/2010 0:00,1/3/1979,7/2/2005,31,Vancouver,Bakery,Baker,43,Female,2010,STORES
2328,12/31/2015 0:00,10/13/1951,2/15/1991,64,Nanaimo,Meats,Meat Cutter,18,Male,2015,STORES
3848,12/31/2006 0:00,3/26/1953,11/21/1991,53,Kelowna,Meats,Meat Cutter,16,Male,2006,STORES
38900,12/31/2006 0:00,10/25/1981,12/26/2006,25,Vancouver,Processed Foods,Shelf Stocker,43,Male,2006,STORES
5451,12/31/2010 0:00,8/21/1954,8/18/1992,56,New Westminster,Meats,Meat Cutter,21,Female,2010,STORES
...,...,...,...,...,...,...,...,...,...,...,...
43723,12/31/2012 0:00,12/21/1986,9/15/2009,26,Vancouver,Produce,Produce Clerk,44,Female,2012,STORES
32511,12/31/2006 0:00,7/13/1976,3/11/2004,30,White Rock,Customer Service,Cashier,39,Female,2006,STORES
5192,12/31/2012 0:00,6/4/1954,7/8/1992,58,Vancouver,Bakery,Baker,41,Male,2012,STORES
12172,12/31/2010 0:00,2/8/1960,7/9/1995,50,Cranbrook,Meats,Meat Cutter,8,Male,2010,STORES
33003,12/31/2012 0:00,1/6/1977,6/12/2004,35,New Westminster,Dairy,Dairy Person,21,Male,2012,STORES

In [17]:
# Let's build a transformer for date columns that will extract the year, month, and day features
class DateTransformer:
    
    def fit(self, X, y):
        return self
    
    def transform(self, X):
        for column in X.columns:
            X[column] = pd.to_datetime(X[column])
            X[column + '_year'] = X[column].apply(lambda x: x.year)
            X[column + '_month'] = X[column].apply(lambda x: x.month)
            X[column + '_day'] = X[column].apply(lambda x: x.day)
            X = X.drop(column, axis=1)
        return X

In [18]:
# Classify features by type
binary_features = [
    'gender_full',
    'BUSINESS_UNIT'
]
nominal_features = [
    'city_name',
    'department_name',
    'job_title'
]
date_features = [
    'recorddate_key',
    'birthdate_key',
    'orighiredate_key'
]

# Construct transformers to handle each type of feature
binary_transformer = Pipeline(steps=[
    ('ordinal', OrdinalEncoder(categories='auto'))
])
nominal_transformer = Pipeline(steps=[
    ('nominal', OneHotEncoder())
])
date_transformer = Pipeline(steps=[
    ('date', DateTransformer())
])

In [19]:
# Build a preprocessing transformer with ColumnTransformer
preprocessor = ColumnTransformer(transformers=[
    ('binary', binary_transformer, binary_features),
    ('nominal', nominal_transformer, nominal_features),
    ('date', date_transformer, date_features)
], sparse_threshold=0)

In [20]:
# Build the final pipeline
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('scaler', StandardScaler()),
    ('classifier', LogisticRegression())
])

In [21]:
model.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(sparse_threshold=0,
                                   transformers=[('binary',
                                                  Pipeline(steps=[('ordinal',
                                                                   OrdinalEncoder())]),
                                                  ['gender_full',
                                                   'BUSINESS_UNIT']),
                                                 ('nominal',
                                                  Pipeline(steps=[('nominal',
                                                                   OneHotEncoder())]),
                                                  ['city_name',
                                                   'department_name',
                                                   'job_title']),
                                                 ('date',
                                                  Pipeline(steps=[('date',
                                                                   <__main__.DateTransformer object at 0x000001F2FD615E50>)]),
                                                  ['recorddate_key',
                                                   'birthdate_key',
                                                   'orighiredate_key'])])),
                ('scaler', StandardScaler()),
                ('classifier', LogisticRegression())])

In [22]:
acc = model.score(X_test, y_test)

print("Test Accuracy: {:.2f}%".format(acc * 100))

Test Accuracy: 100.00%

In [23]:
sample_input = pd.DataFrame(pd.Series({
      'recorddate_key': '6/1/2006',
       'birthdate_key': '6/28/1944',
    'orighiredate_key': '1/3/1993',
                 'age': 65,
           'city_name': 'Fort St John',
     'department_name': 'Dairy',
           'job_title': 'Dairy Person',
          'store_name': 12,
         'gender_full': 'Female',
         'STATUS_YEAR': 2006,
       'BUSINESS_UNIT': 'STORES'
})).T

prediction = model.predict(sample_input)
print("Model Prediction:", prediction)

Model Prediction: ['TERMINATED']